<html>

<head>
  {% load static %}
  <!-- href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap"
    rel="stylesheet" /> <link rel="stylesheet" href={% static "/css/bible.css"
    %}> -->
  <link rel="stylesheet" href={% static "/css/bible.css" %}>
</head>

<body>
  <!-- <img src={% static "/img/audio_black.png" %} class="speak-icon"><br />
    <p class="output">diagnostic messages</p> -->
  <div class="ctrl-btn" hidden>
    <button id="iframe-play-reading" onclick="speak()"></button>
    <button id="iframe-pause-reading" onclick="pause()"></button>
  </div>
  <h2>{{title}}</h2>
  <div id="dic_area">
    <p class="cont">{{contents}}</p>
  </div>
  <div id="append-bible" onclick="next()"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    audioTTS = new Audio();
    var speak = function (event, b, c, d) {
      if (!audioTTS.paused) {
        audioTTS.pause();
      }
      var contents = document.querySelector(".cont").innerText;
      audioTTS.src = "/news/voiceaudio?textQuery=" + contents;
      audioTTS.play();
    };

    var pause = function () {
      if (!audioTTS.paused) {
        audioTTS.pause();
        return;
      }
    };

    var next = function () {
      parent.controller.getMoreData();
    };

    var appendBibleText = function (text) {
      let cont = $(".cont");
      cont.text(cont.text() + " " + text);
    };

    $(document).ready(function () {
      document.querySelector("#iframe-play-reading").click();
    });
  </script>
</body>

</html>