<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href={% static "/css/bible.css" %}>
    </head>
<body class="qna-section">
    <section>
      <h1 class="qna-header">{{question}}</h1>
      <div class="ans-wrapper">
        <button
          id="iframe-play-reading"
          onclick="speak()"
          class="click"
          hidden
        ></button>
        <button
          id="iframe-pause-reading"
          onclick="pause()"
          class="click"
          hidden
        ></button>
        <h2 class="ans">{{answer}}</h2>
      </div>
      <!-- <a href="javascript:history.back()" class="btn btn-primary">뒤로가기</a> -->
    </section>
<script>
    
audioTTS = new Audio();
speak = function (event,b,c,d) {
    if(!audioTTS.paused){
        audioTTS.pause()
        return;
    }
    var contents = document.querySelector(".ans").innerText
    audioTTS.src = '/news/voiceaudio?textQuery='+contents;
    audioTTS.play()
}

window.onload = function () {
    document.querySelector(".click").click();

}
</script>
</body>
</html>