.ctrl-btn > button {
  margin: 4px;
  float: right;
  cursor: pointer;
}

.ctrl-btn::after {
  display: block;
  content: "";
  clear: both;
}

h2 {
  text-align: center;
}

body {
  padding: 4%;
  letter-spacing: 2px;
  line-height: 1.8em;
  font-family: "Nanum Gothic", sans-serif;
}

iframe {
  border: none;
}

.speak-icon {
  width: 32px;
  cursor: pointer;
}

.output {
  font-size: 14px;
}

.qna-section {
  display: flex;
  align-items: center;
}

.qna-section > section {
  margin: 0 auto;
  width: 80%;
}

.ans-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin: 8px auto;
  padding: 5%;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

.ans-wrapper > .click {
  position: absolute;
  top: 4px;
  right: 4px;
}

.ans {
  font-weight: 400;
  font-size: 16px;
}

#appendBible {
  content: "";
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background-color: #f9eee8;
  color: #d55c5a;
}
