body{ 
  text-align: center; 
}
button{ 
  display: inline-block;
  padding: 6px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #666;
  margin: 0 4px;
  transition: 0.7s all;
} 

button:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}
#message { 
  color: #996600; 
}
.textWrapper{ 
  width: 800px; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: row; 
} 
.textbox{ 
  height: 100px; 
  border: 1px solid #d3d3d3; 
  flex: 1; 
  margin : 5px 15px; 
  border-radius: 6px; 
  text-align: left; 
  padding: 16px; 
}

.speak-icon, .speak-icon-color {
  cursor: pointer;
  width: 64px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.link {
  color: #333;
  margin: 4px 0;
  padding: 4px 8px;
}
.link:hover {
  color: #333;
  text-shadow: 0 0 2px rgba(0,0,0, 0.3);
}

#frm {
  display: none;
}

.output {
  margin-top: 8px;
}

.response {
  margin: 0 auto;
  padding: 16px 8px;
  width: 70%;
  color: #fff;
}

.q-section {
  display: table;
  position: relative;
  width: 90%;
  height: 300px;
  font-size: 24px;
  margin: 16px auto;
  background-color: rgba(0,0,0, 0.6);
  padding: 8px;
  padding-bottom: 16px;
}

.q-section > p {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

h3 {
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 18px;
  text-align: left;
  text-shadow: 2px 2px 2px #333;
}

h3 > img {
  width: 24px;
  margin-right: 4px;
}

.output-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
}

.output-page > div {
  background-color: white;
  transition: 0.7s all;
  position: relative;
  top: 8%;
  border: none;
  width: 640px;
  height: 84%;
  overflow: scroll;
  border-radius: 8px;
  margin: 0 auto;
}

@media (max-width: 686px) {
  .output-page > div {
    width: 80%;
  }
}

#clear-btn {
  width: 24px;
  position: absolute;
  right: 2%;
  top: 4%;
  cursor: pointer;
  transition: 0.7s all;
}

@media (max-width: 690px) {
  #clear-btn {
    top: 10%;
    right: 5%;
  }
}

@media (max-width: 686px) {
  #clear-btn {
    right: 2%;
  }
}